body {
    background-color: #EFEDE3;
    font-family: Arial, Helvetica, sans-serif;
    }

h1 {
    text-align: center;
    color: #273B70;
    }

.projects { 
    display:flex; flex-wrap:wrap; 
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #273B70;
    border-radius: 25%;
}